[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
selenium = "*"
pillow = "*"
ipdb = "*"
click = "*"
redis = "*"
fastapi = "*"
uvicorn = "*"
pytest = "*"
rq = "*"
requests = "*"

[requires]
python_version = "3.8"
