[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
fastapi = "*"
uvicorn = "*"
ujson = "*"
pillow = "*"
click = "*"
redis = "*"
pytest = "*"
rq = "*"
requests = "*"
lxml = "*"
sqlalchemy = "*"
alembic = "*"
selenium = "*"
psycopg2-binary = "*"

[dev-packages]
ipdb = "*"
jupyter = "*"
pylint = "*"
mypy = "*"
rq-dashboard = "*"

[requires]
python_version = "3.8"
