<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Информация об объектах недвижимости.</title>
    <style type="text/css">
      .row {
        margin-top: 50px;
      }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
            <p class="text-center text-secondary">Введите кадастровый номер и нажмите кнопку Найти.</p>
            <form id="form">
              <div class="input-group">
                <input type="text" class="form-control form-control-lg" id="cadnum-input" required autofocus>
                <div class="input-group-append">
                   <button class="btn btn-primary" type="button" id="search-btn">
                    <span class="fas fa-search"></span>
                    Найти
                  </button>
                </div>
              </div>
            </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="result">
          </div>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
      'use strict';

      form.addEventListener( "submit", function ( event ) {
        event.preventDefault();
        let cadnum = $('#cadnum-input').val()
        getObjData(cadnum);
      } );


      const searchingElement = $(`
        <div>
          <div class="d-flex justify-content-center">
            <div class="spinner-grow text-primary m5" style="width: 3rem; height: 3rem;" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="text-center text-secondary">
              Идет поиск объекта
          </div>
        </div>`);

      const notFoundElement = $(`
        <div class="bg-info">
          <p class="text-center text-light">Не удалось найти объект с кадастровым номером: <b id="cadnum-val">CADNUM</b></p>
        </div>`);

      const errorElement = $(`
        <div class="bg-danger">
          <p class="text-center text-light">Возникла ошибка. Попробуте еще раз.</p>
        </div>`);

      const resultContainer = $('#result');

      const updateResultContainer = (resultContainer, child) => {
        console.log(child)
        resultContainer.empty();
        resultContainer.append(child);
      }

      const updateResultSection = (resultContainer, data) => {
        console.log('updateResultSection', data);
        if (typeof(data) === 'string'){
          if (data === 'searching'){
            updateResultContainer(resultContainer, searchingElement)
            console.log('searching')
          } else if (data === 'error') {
            console.log('error')
            updateResultContainer(resultContainer, errorElement)
          }
          return null;
        } else if (data.length === 0){
            console.log('not found')
            notFoundElement.find('#cadnum-val').text('KWA')
            updateResultContainer(resultContainer, notFoundElement)
        } else {
          // console.warn('WOW!')
          // console.log(data)
          let table = genResultTable(data)
          // console.log('WOW1 2')
          // console.log(table)
          updateResultContainer(resultContainer, table);
        }

      }

      const genResultTable = (data) => {
        let div = $('<div><h2>Результат поиска</h2></div>'),
            table = $('<table>'),
            tbody = $('<tbody>');
        div.append(table);
        table.addClass('table');
        table.addClass('table-striped');
        table.append(tbody);
        tbody = table.find('tbody');
        for (const [key, value] of Object.entries(data[0])) {
          let tr = $('<tr>');
          tr.append($('<th>' + key + '</th>'))
          tr.append($('<td>' + value + '</td>'))
          tbody.append(tr)
        }
        return div;
      }

      $('#search-btn').on('click', function(){
        $(this).addClass('disabled');
        let cadnum = $('#cadnum-input').val()
        getObjData(cadnum);

        $(this).removeClass('disabled');
      });

      const getObjData = (cadnum) => {
        console.log(cadnum);
        let url = '/objects/' + cadnum;

        updateResultSection(resultContainer, 'searching')
        axios.get(url)
        .then(function (response) {
          console.log('complete')
          let data = response.data['data'];
          updateResultSection(resultContainer, data);
        })
        .catch(function (error) {
          updateResultSection(resultContainer, 'error');
        })
        .then(function () {
          // always executed
          console.log('hey')
        });
      }

    </script>
  </body>
</html>